*.fig
__pycache__
*.tex
*.pdf
*.eps
*.html
*.js
*.png
*.mat
*.out
*.log
.DS_Store
covid_exe
*.swp
output/
*.log
*.o
*.svg
*.zip
*dir*
con_test
con_test_v2
vac_tests
tests/vaccinations/test_data/revac_stats.txt
